/*************************************************/
/* code for the FIRST comic */
.comic-one {
  color: white;
}

.story-one {
  background: url("/images/vounterr.jpg") no-repeat fixed;
  background-position: right 110px top 50px;
}
/* end of code one comic */
/*************************************************/


/*************************************************/
/* code for the SECOND comic */
.comic-two {
  color: #33d6ff;
}

.story-two {
  background: url("/images/toilet.jpg") no-repeat fixed;
  background-position: right 20px top 50px;
}
/* end of code second comic */
/*************************************************/


/*************************************************/
/* code for the THIRD comic */
.comic-three {
  color: black;
}

.story-three {
  background: url("/images/future.jpg") no-repeat fixed;
  background-position: right -60px top 50px left 120px;
}
/* end of code THIRD comic */
/*************************************************/


/*************************************************/
/* code for the METEOR falling */
.meteor-container {
  padding: 0 25px 0 25px;
}

.meteor-container > img {
  animation-duration: 3s;
  animation-name: meteorfall;
  animation-iteration-count: infinite;
  position: relative;
  top: -1000px;
  left: 2500px;
  z-index: 1;
}

.meteor-container > img:nth-child(5n+0) {
  animation-delay: 0s;
}
.meteor-container > img:nth-child(5n+1) {
  animation-delay: 1s;
}
.meteor-container > img:nth-child(5n+2) {
  animation-delay: 2s;
}
.meteor-container > img:nth-child(5n+3) {
  animation-delay: 3s;
}
.meteor-container > img:nth-child(5n+4) {
  animation-delay: 4s;
}

.meteor-container > img:nth-child(3n+0) {
  animation-duration: 5s;
}
.meteor-container > img:nth-child(3n+1) {
  animation-duration: 4s;
}
.meteor-container > img:nth-child(3n+2) {
  animation-duration: 3s;
}

@keyframes meteorfall {
  from {
    top: -1000px;
    left: 2500px;
  }
  to {
    top: 0;
    left: 0;
  }
}
/* end of code METEOR falling */
/*************************************************/


/*************************************************/
/* shared code for the full page */
* {
  box-sizing: border-box;
}

html {
  background: url("/images/red-dots.jpg");
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-family: Bangers;
  padding: 5px 25px 25px 10px;
}

body {
  background-color: white;
  border-radius: 5px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.964;
}

.comic-background {
  position: relative;
  z-index: 2;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.Column:hover {
  z-index: 2;
  transform: scale(1.04);
}

.Row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
}

/* modal display */
.modal-content {
  border-radius: 5px;
  background-color: white;
}

.modal{
  padding: 50px 50px 50px 50px;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.container {
  padding: 25px 25px 25px 25px;
}

.closebtn {
  float: right;
  margin: 5px 10px;
}

/* modal end */

/* end of shared code */
/*************************************************/
