/*************************************************/
/* code for the FIRST comic */
.comic-one {
  color: #007acc;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.story-one {
  width: 100%;
  background: url("/images/vounterr.jpg") no-repeat fixed -25em;
}
/* end of code one comic */
/*************************************************/


/*************************************************/
/* code for the SECOND comic */
.comic-two {
  color: #cc7a00;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.story-two {
  background: url("/images/toilet.jpg") no-repeat fixed;
  background-position: right 20px top 30px;
}
/* end of code second comic */
/*************************************************/


/*************************************************/
/* code for the THIRD comic */
.comic-three {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.story-three {
  background: url("/images/future.jpg") no-repeat fixed 11em;
  background-position: right -60px top 50px left 120px;
}
/* end of code THIRD comic */
/*************************************************/


/*************************************************/
/* code for the EARTH falling */
.earth {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  margin-top: -175px;
}
/* end code for earth */
/*************************************************/

/*************************************************/
/* code for the SUN falling */
.sun-image {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  position: absolute;
  top: 30em;
  right: 30em;
  height: 5em;
  width: 5em;
  animation-name: sun;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

@keyframes sun {
  0%   {right: 30em; top:30em;}
  25%  {right: 5em; top:40em;}
  50%  {right: 25em; top:28em;}
  75%  {right: 10em; top:28em;}
  100% {right: 30em; top:30em;}
}
/* code for SUN */
/*************************************************/

/*************************************************/
/* code for the SOCIAL IMAGE falling */
.git-image {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 35px;
  right: 52px;
  pointer-events: none;
  z-index: 2;
}

.linkedin-image {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 200px;
  right: 52px;
  pointer-events: none;
}

.twitter-image {
  height: 150px;
  width: 150px;
  position: absolute;
  top: 400px;
  right: 52px;
  pointer-events: none;
}

.wrap {
  width: 200px;
  margin-right: auto;
  z-index: 1;
}

.github-sticker {
  right: 25px;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(https://dl.dropbox.com/u/1143870/i/sticker.png) no-repeat;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused;
}

.linkedin-sticker {
  top: 175px;
  right: 25px;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(https://dl.dropbox.com/u/1143870/i/sticker.png) no-repeat;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused;
}

.twitter-sticker {
  top: 355px;
  right: 25px;
  width: 200px;
  height: 200px;
  position: absolute;
  background: url(https://dl.dropbox.com/u/1143870/i/sticker.png) no-repeat;
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused;
}

.sticker:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
}

@keyframes spin {
  100% {transform: rotate(1turn); }
}
/* code for SOCIAL */
/*************************************************/

/*************************************************/
/* code for the METEOR falling */
.meteor-container {
  padding: 0 25px 0 25px;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
}

.meteor-container > img {
  animation-duration: 3s;
  animation-name: meteorfall;
  animation-iteration-count: infinite;
  position: relative;
  top: -1000px;
  left: 2500px;
  z-index: 1;
}

.meteor-container > img:nth-child(5n+0) {
  animation-delay: 0s;
}
.meteor-container > img:nth-child(5n+1) {
  animation-delay: 1s;
}
.meteor-container > img:nth-child(5n+2) {
  animation-delay: 2s;
}
.meteor-container > img:nth-child(5n+3) {
  animation-delay: 3s;
}
.meteor-container > img:nth-child(5n+4) {
  animation-delay: 4s;
}

.meteor-container > img:nth-child(3n+0) {
  animation-duration: 5s;
}
.meteor-container > img:nth-child(3n+1) {
  animation-duration: 4s;
}
.meteor-container > img:nth-child(3n+2) {
  animation-duration: 3s;
}

@keyframes meteorfall {
  from {
    top: -1000px;
    left: 2500px;
  }
  to {
    top: 0;
    left: 0;
  }
}
/* end of code METEOR falling */
/*************************************************/


/*************************************************/
/* shared code for the full page */
* {
  box-sizing: border-box;
}

html {
  background: url("/images/red-dots.jpg");
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-family: Bangers;
  padding: 5px 25px 25px 10px;
}

body {
  background-color: white;
  border-radius: 5px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.964;
  cursor: url("/images/superman.png"), auto;
}

body:active {
  cursor: url("/images/superman-uppercut.png"), auto;
}

.comic-background {
  position: relative;
  z-index: 2;
  box-shadow: 0 3px 10px #888;
  -moz-box-shadow: 0 3px 10px #888;
  -webkit-box-shadow: 0 3px 10px #888;

  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 4.5em;
  width: 13.8em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 15px;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}

.Column:hover {
  z-index: 2;
  animation: rotating 1.5s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.Row {
  display: table;
  width: 80%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}
.Column {
  display: table-cell;
}

/* modal display */
.modal-content {
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.modal{
  padding: 50px 50px 50px 50px;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
}

.comic-modal-one {
  display: none;
}

.comic-modal-two {
  display: none;
}

.comic-modal-three {
  display: none;
}

.container {
  padding: 2px 25px 8px 25px;
}

.closebtn {
  font-size: 2em;
  margin: 5px 10px;
  text-shadow: -1px 0 #262626, 0 1px #262626, 1px 0 #262626, 0 -1px #262626;
  color: #660000;
  display: inline-block;
  cursor: default;
}

.closebtn:hover {
  transform: scale(1.2);
}

.talking-kids {
  position: absolute;
  background: url("/images/talking-kids.jpg") no-repeat;
  background-position: bottom 25px;
  height: 35%;
  width: 35%;
  border-radius: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #660000;
  text-align: left;
  padding-left: 7px;
}

.example-kids {
  background: url("/images/school.jpg") no-repeat;
  height: 12em;
  width: 35em;
  border-radius: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #660000;
  text-align: left;
  padding-left: 7px;
  margin-left: auto;
  margin-bottom: 2%;
  margin-top: -2%;

}

.one-kids {
  background: url("/images/vounterr2.jpg") no-repeat 0em;
  height: 14em;
  width: 40em;
  border-radius: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #660000;
  text-align: left;
  padding-left: 7px;
  padding-top: 2px;
}

.deuces {
  background: url("/images/meandDeigo.jpg") no-repeat;
  height: 14em;
  width: 19em;
  border-radius: 5px;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  color: #660000;
  text-align: center;
  padding-left: 7px;
  margin-left: 41em;
  margin-top: -15.3em;
}

/**********************************************/

.island {
  position: absolute;
  background: url("/images/island.jpg") no-repeat right;
  height: 35%;
  width: 35%;
  border-radius: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #e68a00;
  text-align: left;
  padding-left: 7px;
  padding-top: 2px;
}

.san-blas{
  background: url("/images/blas.jpg") no-repeat left -4em;
  height: 12em;
  width: 35em;
  border-radius: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #e68a00;
  text-align: left;
  padding-left: 7px;
  margin-left: auto;
  margin-bottom: 2%;
  margin-top: -2%;
}

.star-fish {
  background: url("/images/starfish.jpg") no-repeat left;
  height: 14em;
  width: 40em;
  border-radius: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #e68a00;
  text-align: left;
  padding-left: 7px;
  padding-top: 2px;
}

.easy-living {
  background: url("/images/easy-living.jpg") no-repeat left -1em;
  height: 14em;
  width: 19em;
  border-radius: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #e68a00;
  text-align: center;
  padding-left: 7px;
  margin-left: 41em;
  margin-top: -15.3em;
}

.future-now {
  background: url("/images/thefuture.jpg");
  height: 26.5em;
  width: 52em;
  border-radius: 5px;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
  color: #e68a00;
  text-align: bottom;
  padding-left: 7px;
  margin-left: 90px;
}

/* modal end */

/* end of shared code */
/*************************************************/

.made-in {
  position: absolute;
  top: 53em;
  right: 2em;
  text-shadow: -1px 0 #991f00, 0 1px #991f00, 1px 0 #991f00, 0 -1px #991f00;
}

.oakland-love {
  color: #991f00;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;

}
